Body {
    background-color: white;
}

#container-1 {
    display: flex;
}

#container-1 > div {
    width: 40%;
}

#container-1 input {
    width: 50%;
    height: 40px;
    margin-left: 20px;
}

div.center input {
    border-width: 0;
}

#left-box {
    margin-right: 5%;
}
#right-box {
    margin-left: 5%;
}

.center {
    width: 40%;
    margin: 2% auto;
    padding: 2%;
    align-items: center;
    border-radius: 20px;
    background-color: black;
    color: white;
  }

.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border:0cap}


.left-box-1{
    /* width: 75%;
    height: 40px; */
    /* font-size: 1.2em; */
    cursor: pointer;
    background: white;
    outline: none;
    color: gray;
    /* margin: 0.2em 0;
    padding: 0 1em; */
    border-radius: 10px;
    border: none;
    margin-bottom: 15px;

}
.left-box-2{

    /* width: 75%;
    height: 40px; */
    /* font-size: 1.2em; */
    cursor: pointer;
    background: white;
    outline: none;
    color: gray;
    /* margin: 0.2em 0;
    padding: 0 1em; */
    border-radius: 10px;
    border: none;
}

.right-box-1 {
    /* width: 75%;
    height: 40px; */
    /* font-size: 1.2em; */
    cursor: pointer;
    background: white;
    outline: none;
    color: gray;
    /* margin: 0.2em 0;
    padding: 0 1em; */
    border-radius: 10px;
    border: none;
    margin-bottom: 15px;
}

.right-box-2 {

    /* width: 75%;
    height: 40px; */
    /* font-size: 1.2em; */
    cursor: pointer;
    background: white;
    outline: none;
    color: gray;
    /* margin: 0.2em 0;
    padding: 0 1em; */
    border-radius: 10px;
    border: none;

}
.txt-field-1 {
    width: 75%;
    height: 40px;
    font-size: 1.2em;
    display: flex;
    text-align: center;
    cursor: pointer;
    background: white;
    outline: none;
    color:gray;
    margin: 1em 0;
    padding: 0 2em;
    border-radius: 10px;
    border: none;
    justify-content: center;
}

.txt-field-2{
    width: 75%;
    height: 85px;
    font-size: 1.2em;
    display: flex;
    cursor: pointer;
    background: white;
    outline: none;
    color: gray;
    margin: 1em 0;
    padding: 0 1em;
    border-radius: 20px;
    border: none;
    text-align: center;
    justify-content: center;

   
}

 .btn{
        width: 96%;
        height: 40px;
        background: blue;
        color: white;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        font-size: 1em;
        margin: 0.5em 0;

    }

    .btn-2 {
        width: 96%;
        height: 40px;
        background: gold;
        color: black;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        font-size: 1em;
        margin: 0.5em 0;

    }
