<div class="container-fluid">
  <div class="listings">
    <h2>Welcome, {{{username}}}!</h2>
    <div class="dashboard-buttons">
      <button class="btn btn-lg btn-dark">Create New Listing</button>
      <button class="btn btn-lg btn-dark">View/Edit Your Listings</button>
      <button class="btn btn-lg btn-dark">View All Listings</button>
    </div>
</div>