<div class="container-fluid">
  <div class="listings">
    <h2>Welcome, {{user.name}}!</h2>
    <div class="dashboard-buttons">
      <a class="btn btn-lg btn-dark" href="/newlisting">Create New Listing</a>
      <a class="btn btn-lg btn-dark" href="/userlistings">View/Edit Your Listings</a>
      <a class="btn btn-lg btn-dark" href="/">View All Listings</a>
    </div>
</div>