<div class="container-fluid">
  <div class="form-box">
    <h2>NEW LISTING</h2>
    <form action="/newlisting" method="post" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="heading" class="form-label">Title</label>
        <input
          name="heading"
          type="text"
          class="form-control"
          placeholder="Enter a title for your listing"
          required
        />
      </div>
      <div class="row mb-3">
        <div class="col">
          <label for="brand" class="form-label">Brand</label>
          <select name="brand" class="form-select" required>
            <option selected>Select Branch</option>
            <option value="1">Acer</option>
            <option value="2">Alienware</option>
            <option value="3">Apple</option>
            <option value="4">ASUS</option>
            <option value="5">Dell</option>
            <option value="6">Google</option>
            <option value="7">HP</option>
            <option value="8">Lenovo</option>
            <option value="9">Microsoft</option>
            <option value="10">MSI</option>
            <option value="11">Samsung</option>
          </select>
        </div>
        <div class="col">
          <label for="model" class="form-label">Model</label>
          <input
            name="model"
            type="text"
            class="form-control"
            placeholder="Enter model info"
            required
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label for="condition" class="form-label">Condition</label>
          <select name="condition" class="form-select" required>
            <option selected>Select Condition</option>
            <option value="1">New in Box</option>
            <option value="2">Excellent</option>
            <option value="3">Very Good</option>
            <option value="4">Good</option>
            <option value="5">Fair</option>
            <option value="6">Poor</option>
            <option value="7">Parts Only</option>
          </select>
        </div>
        <div class="col">
          <label for="oper_sys" class="form-label">Operating System</label>
          <select name="oper_sys" class="form-select" required>
            <option selected>Select Operating System</option>
            <option value="1">ChromiumOS</option>
            <option value="2">Linux</option>
            <option value="3">macOS</option>
            <option value="4">Windows</option>
          </select>
        </div>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input
          name="price"
          class="form-control"
          type="text"
          placeholder="Please enter price in USD"
          required
        />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="description"
          class="form-control"
          type="text"
          placeholder="Please enter detailed description of your machine (include processor speed, RAM, hard drive capacity, etc)"
          required
        ></textarea>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Upload Image</label>
        <input
          name="image"
          class="form-control"
          type="file"
          required
        ></textarea>
      </div>
      <div class="d-grid gap-2">
        <button
          type="submit"
          class="btn btn-warning"
          id="submitBtn"
        >Submit</button>
      </div>

    </form>
  </div>

</div>