<div class="container-fluid">
  <div class="form-box">
    <h2>NEW LISTING</h2>
    <form action="/newlisting" method="post" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="heading" class="form-label">Title</label>
        <input
          name="heading"
          type="text"
          class="form-control"
          placeholder="Enter a title for your listing"
          required
        />
      </div>
      <div class="row mb-3">
        <div class="col">
          <label for="brand" class="form-label">Brand</label>
          <select name="brand" class="form-select" required>
            <option selected>Select Brand</option>
            <option value="Acer">Acer</option>
            <option value="Alienware">Alienware</option>
            <option value="Apple">Apple</option>
            <option value="ASUS">ASUS</option>
            <option value="Dell">Dell</option>
            <option value="HP">HP</option>
            <option value="Lenovo">Lenovo</option>
            <option value="Microsoft">Microsoft</option>
            <option value="MSI">MSI</option>
            <option value="Samsung">Samsung</option>
          </select>
        </div>
        <div class="col">
          <label for="model" class="form-label">Model</label>
          <input
            name="model"
            type="text"
            class="form-control"
            placeholder="Enter model info"
            required
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label for="condition" class="form-label">Condition</label>
          <select name="condition" class="form-select" required>
            <option selected>Select Condition</option>
            <option value="New in Box">New in Box</option>
            <option value="Excellent">Excellent</option>
            <option value="Very Good">Very Good</option>
            <option value="Good">Good</option>
            <option value="Fair">Fair</option>
            <option value="Poor">Poor</option>
            <option value="Parts Only">Parts Only</option>
          </select>
        </div>
        <div class="col">
          <label for="oper_sys" class="form-label">Operating System</label>
          <select name="oper_sys" class="form-select" required>
            <option selected>Select Operating System</option>
            <option value="ChromiumOQ">ChromiumOS</option>
            <option value="Linux">Linux</option>
            <option value="macOS">macOS</option>
            <option value="Windows">Windows</option>
          </select>
        </div>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input
          name="price"
          class="form-control"
          type="text"
          placeholder="Please enter price in USD"
          required
        />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="description"
          class="form-control"
          type="text"
          placeholder="Please enter detailed description of your machine (include processor speed, RAM, hard drive capacity, etc)"
          required
        ></textarea>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Upload Image</label>
        <input
          name="image"
          class="form-control"
          type="file"
          required
        ></textarea>
      </div>
      <div class="d-grid gap-2">
        <button
          type="submit"
          class="btn btn-warning"
          id="submitBtn"
        >Submit</button>
      </div>

    </form>
  </div>

</div>